/*主页面*/
body{
	width: 100%;
	max-width: 640px;
	margin:0 auto;
	height:100%;
	position: relative;
}
img{
	vertical-align: top;
}
h3{
	font-weight: normal;
}
.home_page{
	width: 100%;
	height: 100%;
	position: relative;
	.h_describe{
		padding-top: 0.586667rem;
		text-align: center;
		position: relative;
		margin-bottom: 0.213333rem;
		img{
			width: 7.333333rem;
		}
		span{
			position: absolute;
			width: 1.493333rem;
			height: 0.853333rem;
			left: 1.76rem;
			top:0;
			background: url("../images/preface.png") 0 0 no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}
		p{
			position: absolute;
			line-height: 0.48rem;
			font-size:0.4rem;
			left: 2.933333rem;
			top:1.133333rem;
			text-align: left;
		}
	}
	.h_friend{
		text-align: center;
		position: relative;
		padding-bottom: 0.093333rem;
		margin-bottom: 0.186667rem;
		img{
			width: 6.733333rem;
		}
		span{
			position: absolute;
			width: 0.826667rem;
			height: 0.493333rem;
			left: 50%;
			bottom: 0;
			margin-left: -0.413333rem;
			background: url("../images/arrow_one.png") 0 0 no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
		}
	}
	.h_text{
		line-height: 0.453333rem;
		font-size: 0.373333rem;
		text-align: center;
		margin-bottom: 0.253333rem;
		span{
			color: #ffcc02;
			font-size: 0.533333rem;
		}
	}
	.h_people{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
/*答题页*/
.answer{
	width: 100%;
	height: 100%;
	.top{
		text-align: center;
		padding-top: 0.693333rem;
		margin-bottom: 0.48rem;
		position: relative;
		img{
			width: 8.16rem;
		}
		p{
			line-height: 0.56rem;
			font-size: 0.48rem;
			position: absolute;
			width: 100%;
			bottom:0.266667rem;
			left: 0;
			text-align: center;
		}
	}
	ul{
		margin-left:1.44rem;
		li{
			height: 1.466667rem;
			margin-bottom: 0.76rem;
			img{
				float: left;
				width: 1.44rem;
				height: 1.44rem;
				border:0.133333rem solid #231815;
				border-radius: 50%;
				&.answer_top{
					width: 8.16rem;
				}
			}
			h3{
				margin-left: 1.92rem;
				padding-top: 0.106667rem;
				line-height: 0.626667rem;
				font-size: 0.533333rem;
				&.none_f{ /* 没人答题时添加 */
					line-height: 1.266667rem;
				}
			}
		}
	}
}
/*兑换码页*/
.redeem{
	width: 100%;
	height: 100%;
	padding-top: 0.906667rem;
	.redeem_top{
		position: relative;
		text-align: center;
		.top_bg{
			width: 7.266667rem;
		}
		p{
			position: absolute;
			line-height: 0.573333rem;
			font-size: 0.48rem;
			top:0.426667rem;
			width: 100%;
			text-align: center;
		}
		.redeem_img{
			width: 3.96rem;
			margin-top: -0.4rem;
			margin-left: -0.133333rem;
		}
	}
	.redeem_code{
		margin-bottom: 0.106667rem;
		h3{
			text-align: center;
			font-size: 0.56rem;
			line-height: 1;
			height: 0.56rem;
			margin-bottom: 0.133333rem;
		}
		.code{
			width: 4.733333rem;
			height: 1.426667rem;
			margin:0 auto;
			background:url("../images/redeem_code.png") 0 0 no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			margin-bottom: 0.106667rem;
			text-align: center;
			span{
				height: 1.066667rem;
				font-size: 0.48rem;
			}
		}
		.code_text{
			line-height: 0.453333rem;
			text-align: center;
			font-size: 0.333333rem;
		}
	}
	.btn{
		padding: 0 0.933333rem;
		.btn_l{
			float: left;
		}
		.btn_r{
			float: right;
		}
	}
}
/*结果页*/
.result{
	height: 100%;
	width: 100%;
	.redeem_top{
		margin-bottom: 0.773333rem;
		.top_bg{
			margin-bottom: 0.613333rem;
		}
		.redeem_img{
			margin-top: 0;
			width: 5.2rem;
		}
	}
	
}
/*晒一下页*/
.sun{
	height: 100%;
	width: 100%;
	.h_tit{
		margin-bottom: 0;
	}
	.h_describe{
		padding-top: 0.493333rem;
		margin-bottom: 0.533333rem;
		p{
			text-align: center;
			left: 2.293333rem;
		}
	}
	ul{
		margin-left:2.066667rem;
		margin-bottom: 0.053333rem;
		li{
			height: 0.986667rem;
			margin-bottom: 0.333333rem;
			&:nth-child(3){
				margin-bottom: 0;
			}
			img{
				float: left;
				width: 0.986667rem;
				height: 0.986667rem;
				border:0.053333rem solid #231815;
				border-radius: 50%;
				&.answer_top{
					width: 8.16rem;
				}
			}
			h3{
				margin-left: 1.293333rem;
				line-height: 0.986667rem;
				font-size: 0.426667rem;
			}
		}
	}
	.sun_code{
		position: relative;
		text-align: center;
		.sun_girl{
			width: 2.493333rem;
			height: 2.733333rem;
			display: block;
			position: relative;
			margin-bottom:-0.146667rem;
			margin-left: 3.52rem;
		}
		.QR_code{
			width: 3.466667rem;
			height: 3.453333rem;
			display: block;
			margin:0 auto;
		}
		p{
			position: absolute;
			word-wrap:break-word;
			word-break:nomal;
			top:1.546667rem;
			font-size: 0.48rem;
			width: 0.533333rem;
			&.sun_l{
				left:1.386667rem;
			}
			&.sun_l2{
				left:2.133333rem;
				top: 2.08rem;
			}
			&.sun_r{
				right:2.133333rem;
				top: 2.08rem;
			}
			&.sun_r2{
				right:1.386667rem;
			}
		}
	}
}
/*题目*/
.questions{
	height: 100%;
	width: 100%;
	padding-top: 0.586667rem;
	.qs_top{
		position: relative;
		text-align: center;
		padding-top: 0.773333rem;
		margin-bottom: 0.746667rem;
		.qs_red{
			width: 6.186667rem;
			position: absolute;
			left: 2.426667rem;
			top:0;
		}
		.qs_user{
			width: 1.506667rem;
			border-radius: 50%;
			border: 0.08rem solid #231815;
			margin-bottom: 0.053333rem;
		}
		.qs_text{
			position: relative;
			text-align: center;
			.qs_top_bg{
				width: 8.626667rem;
			}
			p{
				font-size: 0.4rem;	
				line-height: 0.48rem;
				position: absolute;
				top:0.346667rem;
				left: 0;
				width: 100%;
			}
		}
	}
	.qs_list{
		margin-bottom: 0.653333rem;
		.qs_tit{
			padding-left: 0.96rem;
			padding-right: 1.0rem;
			padding-top: 0.346667rem;
			margin-bottom: 0.746667rem;
			.qs_num{
				height: 1.44rem;
				width: 1.0rem;
				float: left;
				background: url("../images/qs1.png") 0 0 no-repeat;
				-webkit-background-size:70% 100%;
				background-size:70% 100%;
				margin-top: -0.346667rem;
				&.qs_num2{
					background: url("../images/qs2.png") 0 0 no-repeat;
					-webkit-background-size:100% 100%;
					background-size:100% 100%;
				}
				&.qs_num3{
					background: url("../images/qs3.png") 0 0 no-repeat;
					-webkit-background-size:100% 100%;
					background-size:100% 100%;
				}
			}
			.qs_tit_text{
				font-size: 0.466667rem;
				line-height: 0.533333rem;
				padding-top: 0.2rem;
				margin-left: 1.2rem;
				border-top: 0.066667rem solid #ffcc02;
				padding-left: 0.106667rem;
			}
		}
		ul{
			li{
				width: 8.533333rem;
				height: 2.226667rem;
				background: url("../images/qs_answer_bg.png") 50% 50% no-repeat;
				-webkit-background-size: 92% 80%;
				background-size: 92% 80%;
				margin:0 auto;
				&.active{
					background: url("../images/qs_answer_bg2.png") 0 0 no-repeat;
					-webkit-background-size: cover;
					background-size: cover;
				}
				span{
					width: 0.826667rem;
					height: 0.813333rem;
					float: left;
					background:url("../images/a.png") 0 0 no-repeat;
					background-size: cover;
					margin-left: 0.986667rem;
					margin-top: 0.64rem;
					&.answer_b{
						background: url("../images/b.png") 0 0 no-repeat;
						background-size: 95% 100%;
					}
				}
				.qs_inner{
					float:left;
					margin-left: 0.373333rem;
					font-size: 0.426667rem;
					line-height: 0.506667rem;
					margin-top: 0.533333rem;
				}
			}
		}
	}
}
/*1题答错*/
.incorrect{
	width: 100%;
	height: 100%;
	padding-top: 2.026667rem;
	.in_tit{
		position: relative;
		text-align: center;
		img{
			width: 8.626667rem;
		}
		p{
			font-size: 0.48rem;
			line-height: 0.586667rem;
			width: 100%;
			position: absolute;
			top:0.453333rem;
			left: 0;
		}
	}
	.in_img{
		text-align: center;
		.in_fire{
			width: 6.266667rem;
			margin-top: 0.933333rem;
			margin-bottom: 1.013333rem;
		}
		.incorrect_img{
			width: 6.386667rem;
			margin-top: 1.36rem;
			margin-bottom: 1.013333rem;
		}
		.incorrect_img3{
			width: 7.92rem;
			margin-top: 1.573333rem;
			margin-bottom: 1.013333rem;
		}
		.all_right{
			width: 7.92rem;
			margin-top: 1.146667rem;
			margin-bottom: 1.066667rem;
		}
	}
}
/*输入手机号*/
.phone_num{
	width: 100%;
	height: 100%;
	text-align: center;
	.ph_friend{
		width: 6.733333rem;
		margin-top: 1.4rem;
		margin-bottom: 0.266667rem;
	}
	.arrow_two{
		width: 0.826667rem;
		margin-bottom: 0.8rem;
	}
	.ph_num{
		text-align: center;
		font-size: 0.56rem;
		line-height: 1;
		height: 0.96rem;
	}
	.ph_number{
		width: 5.946667rem;
		height: 1.426667rem;
		margin:0 auto;
		background:url("../images/tel_phone.png") 0 0 no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		line-height: 1rem;
		input{
			background-color: transparent;
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
			text-align: center;
		}
	}
}
/*获得20元红包*/
.get_red{
	text-align: center;
	.big_bag{
		width: 7.72rem;
		margin-top: 2.56rem;
		margin-bottom: 0.4rem;
	}
	.h_describe{
		text-align: center;
		position: relative;
		padding-top: 0;
		margin-bottom: 1.626667rem;
		img{
			width: 7.066667rem;
		}
		p{
			font-size: 0.4rem;
			line-height: 0.48rem;
			position: absolute;
			width: 100%;
			text-align: center;
			top:0.586667rem;
			left: 0;

		}
	}
}
/*拆红包*/
.red_bag{
	text-align: center;
	padding-top: 2.133333rem;
	.red{
		margin-bottom: 0.586667rem;
		position: relative;
		img{
			width: 8.653333rem;
		}
		.red_text{
			font-size: 0.533333rem;
			position: absolute;
			width: 100%;
			text-align: center;
			left: 0;
			bottom:2.026667rem;
		}
	}
	.arrow2{
		width: 0.826667rem;
		transform: rotate(180deg);
	}
	p{
		font-size: 0.72rem;
		line-height: 1;
		margin-top: 0.533333rem;
	}
}
/*共用按钮*/
.btn{
	text-align: center;
	a{
		display: inline-block;
		width: 3.666667rem;
		height: 1.426667rem;
		background: url("../images/btn_bg.png") 0 0 no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		line-height: 1.146667rem;
		font-size: 0.64rem;
		color: #000;
	}
}
/*分享*/
.share{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.9);
	img{
		width: 8.8rem;
		margin-left: 0.706667rem;
		margin-top: 0.333333rem;
	}
	p{
		position: absolute;
		left:1.493333rem;
		top:1.586667rem;
		font-size: 0.426667rem;
		line-height: 0.586667rem;
	}
}
/*公共logo*/
.h_tit{
	text-align: center;
	padding-top: 0.266667rem;
	margin-bottom: 0.106667rem;
	img{
		width: 4.32rem;
	}
}
/*公共背景图*/
.bg_img{
	width: 100%;
	height: 100%;
	background: url("../images/bg.jpg") 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.hide{
	display: none;
}