@charset "utf-8";
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  /*font-family: "PingFang SC";//默认字体*/
  font-family: "zhanghaishan";
}
a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.lt {
  float: left;
}
/*主页面*/
body {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
img {
  vertical-align: top;
}
h3 {
  font-weight: normal;
}
.home_page {
  width: 100%;
  height: 100%;
  position: relative;
}
.home_page .h_describe {
  padding-top: 0.586667rem;
  text-align: center;
  position: relative;
  margin-bottom: 0.213333rem;
}
.home_page .h_describe img {
  width: 7.333333rem;
}
.home_page .h_describe span {
  position: absolute;
  width: 1.493333rem;
  height: 0.853333rem;
  left: 1.76rem;
  top: 0;
  background: url("../images/preface.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.home_page .h_describe p {
  position: absolute;
  line-height: 0.48rem;
  font-size: 0.4rem;
  left: 2.933333rem;
  top: 1.133333rem;
  text-align: left;
}
.home_page .h_friend {
  text-align: center;
  position: relative;
  padding-bottom: 0.093333rem;
  margin-bottom: 0.186667rem;
}
.home_page .h_friend img {
  width: 6.733333rem;
}
.home_page .h_friend span {
  position: absolute;
  width: 0.826667rem;
  height: 0.493333rem;
  left: 50%;
  bottom: 0;
  margin-left: -0.413333rem;
  background: url("../images/arrow_one.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.home_page .h_text {
  line-height: 0.453333rem;
  font-size: 0.373333rem;
  text-align: center;
  margin-bottom: 0.253333rem;
}
.home_page .h_text span {
  color: #ffcc02;
  font-size: 0.533333rem;
}
.home_page .h_people {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
/*答题页*/
.answer {
  width: 100%;
  height: 100%;
}
.answer .top {
  text-align: center;
  padding-top: 0.693333rem;
  margin-bottom: 0.48rem;
  position: relative;
}
.answer .top img {
  width: 8.16rem;
}
.answer .top p {
  line-height: 0.56rem;
  font-size: 0.48rem;
  position: absolute;
  width: 100%;
  bottom: 0.266667rem;
  left: 0;
  text-align: center;
}
.answer ul {
  margin-left: 1.44rem;
}
.answer ul li {
  height: 1.466667rem;
  margin-bottom: 0.76rem;
}
.answer ul li img {
  float: left;
  width: 1.44rem;
  height: 1.44rem;
  border: 0.133333rem solid #231815;
  border-radius: 50%;
}
.answer ul li img.answer_top {
  width: 8.16rem;
}
.answer ul li h3 {
  margin-left: 1.92rem;
  padding-top: 0.106667rem;
  line-height: 0.626667rem;
  font-size: 0.533333rem;
}
.answer ul li h3.none_f {
  /* 没人答题时添加 */
  line-height: 1.266667rem;
}
/*兑换码页*/
.redeem {
  width: 100%;
  height: 100%;
  padding-top: 0.906667rem;
}
.redeem .redeem_top {
  position: relative;
  text-align: center;
}
.redeem .redeem_top .top_bg {
  width: 7.266667rem;
}
.redeem .redeem_top p {
  position: absolute;
  line-height: 0.573333rem;
  font-size: 0.48rem;
  top: 0.426667rem;
  width: 100%;
  text-align: center;
}
.redeem .redeem_top .redeem_img {
  width: 3.96rem;
  margin-top: -0.4rem;
  margin-left: -0.133333rem;
}
.redeem .redeem_code {
  margin-bottom: 0.106667rem;
}
.redeem .redeem_code h3 {
  text-align: center;
  font-size: 0.56rem;
  line-height: 1;
  height: 0.56rem;
  margin-bottom: 0.133333rem;
}
.redeem .redeem_code .code {
  width: 4.733333rem;
  height: 1.426667rem;
  margin: 0 auto;
  background: url("../images/redeem_code.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0.106667rem;
  text-align: center;
}
.redeem .redeem_code .code span {
  height: 1.066667rem;
  font-size: 0.48rem;
}
.redeem .redeem_code .code_text {
  line-height: 0.453333rem;
  text-align: center;
  font-size: 0.333333rem;
}
.redeem .btn {
  padding: 0 0.933333rem;
}
.redeem .btn .btn_l {
  float: left;
}
.redeem .btn .btn_r {
  float: right;
}
/*结果页*/
.result {
  height: 100%;
  width: 100%;
}
.result .redeem_top {
  margin-bottom: 0.773333rem;
}
.result .redeem_top .top_bg {
  margin-bottom: 0.613333rem;
}
.result .redeem_top .redeem_img {
  margin-top: 0;
  width: 5.2rem;
}
/*晒一下页*/
.sun {
  height: 100%;
  width: 100%;
}
.sun .h_tit {
  margin-bottom: 0;
}
.sun .h_describe {
  padding-top: 0.493333rem;
  margin-bottom: 0.533333rem;
}
.sun .h_describe p {
  text-align: center;
  left: 2.293333rem;
}
.sun ul {
  margin-left: 2.066667rem;
  margin-bottom: 0.053333rem;
}
.sun ul li {
  height: 0.986667rem;
  margin-bottom: 0.333333rem;
}
.sun ul li:nth-child(3) {
  margin-bottom: 0;
}
.sun ul li img {
  float: left;
  width: 0.986667rem;
  height: 0.986667rem;
  border: 0.053333rem solid #231815;
  border-radius: 50%;
}
.sun ul li img.answer_top {
  width: 8.16rem;
}
.sun ul li h3 {
  margin-left: 1.293333rem;
  line-height: 0.986667rem;
  font-size: 0.426667rem;
}
.sun .sun_code {
  position: relative;
  text-align: center;
}
.sun .sun_code .sun_girl {
  width: 2.493333rem;
  height: 2.733333rem;
  display: block;
  position: relative;
  margin-bottom: -0.146667rem;
  margin-left: 3.52rem;
}
.sun .sun_code .QR_code {
  width: 3.466667rem;
  height: 3.453333rem;
  display: block;
  margin: 0 auto;
}
.sun .sun_code p {
  position: absolute;
  word-wrap: break-word;
  word-break: nomal;
  top: 1.546667rem;
  font-size: 0.48rem;
  width: 0.533333rem;
}
.sun .sun_code p.sun_l {
  left: 1.386667rem;
}
.sun .sun_code p.sun_l2 {
  left: 2.133333rem;
  top: 2.08rem;
}
.sun .sun_code p.sun_r {
  right: 2.133333rem;
  top: 2.08rem;
}
.sun .sun_code p.sun_r2 {
  right: 1.386667rem;
}
/*题目*/
.questions {
  height: 100%;
  width: 100%;
  padding-top: 0.586667rem;
}
.questions .qs_top {
  position: relative;
  text-align: center;
  padding-top: 0.773333rem;
  margin-bottom: 0.746667rem;
}
.questions .qs_top .qs_red {
  width: 6.186667rem;
  position: absolute;
  left: 2.426667rem;
  top: 0;
}
.questions .qs_top .qs_user {
  width: 1.506667rem;
  border-radius: 50%;
  border: 0.08rem solid #231815;
  margin-bottom: 0.053333rem;
}
.questions .qs_top .qs_text {
  position: relative;
  text-align: center;
}
.questions .qs_top .qs_text .qs_top_bg {
  width: 8.626667rem;
}
.questions .qs_top .qs_text p {
  font-size: 0.4rem;
  line-height: 0.48rem;
  position: absolute;
  top: 0.346667rem;
  left: 0;
  width: 100%;
}
.questions .qs_list {
  margin-bottom: 0.653333rem;
}
.questions .qs_list .qs_tit {
  padding-left: 0.96rem;
  padding-right: 1.0rem;
  padding-top: 0.346667rem;
  margin-bottom: 0.746667rem;
}
.questions .qs_list .qs_tit .qs_num {
  height: 1.44rem;
  width: 1.0rem;
  float: left;
  background: url("../images/qs1.png") 0 0 no-repeat;
  -webkit-background-size: 70% 100%;
  background-size: 70% 100%;
  margin-top: -0.346667rem;
}
.questions .qs_list .qs_tit .qs_num.qs_num2 {
  background: url("../images/qs2.png") 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.questions .qs_list .qs_tit .qs_num.qs_num3 {
  background: url("../images/qs3.png") 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.questions .qs_list .qs_tit .qs_tit_text {
  font-size: 0.466667rem;
  line-height: 0.533333rem;
  padding-top: 0.2rem;
  margin-left: 1.2rem;
  border-top: 0.066667rem solid #ffcc02;
  padding-left: 0.106667rem;
}
.questions .qs_list ul li {
  width: 8.533333rem;
  height: 2.226667rem;
  background: url("../images/qs_answer_bg.png") 50% 50% no-repeat;
  -webkit-background-size: 92% 80%;
  background-size: 92% 80%;
  margin: 0 auto;
}
.questions .qs_list ul li.active {
  background: url("../images/qs_answer_bg2.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.questions .qs_list ul li span {
  width: 0.826667rem;
  height: 0.813333rem;
  float: left;
  background: url("../images/a.png") 0 0 no-repeat;
  background-size: cover;
  margin-left: 0.986667rem;
  margin-top: 0.64rem;
}
.questions .qs_list ul li span.answer_b {
  background: url("../images/b.png") 0 0 no-repeat;
  background-size: 95% 100%;
}
.questions .qs_list ul li .qs_inner {
  float: left;
  margin-left: 0.373333rem;
  font-size: 0.426667rem;
  line-height: 0.506667rem;
  margin-top: 0.533333rem;
}
/*1题答错*/
.incorrect {
  width: 100%;
  height: 100%;
  padding-top: 2.026667rem;
}
.incorrect .in_tit {
  position: relative;
  text-align: center;
}
.incorrect .in_tit img {
  width: 8.626667rem;
}
.incorrect .in_tit p {
  font-size: 0.48rem;
  line-height: 0.586667rem;
  width: 100%;
  position: absolute;
  top: 0.453333rem;
  left: 0;
}
.incorrect .in_img {
  text-align: center;
}
.incorrect .in_img .in_fire {
  width: 6.266667rem;
  margin-top: 0.933333rem;
  margin-bottom: 1.013333rem;
}
.incorrect .in_img .incorrect_img {
  width: 6.386667rem;
  margin-top: 1.36rem;
  margin-bottom: 1.013333rem;
}
.incorrect .in_img .incorrect_img3 {
  width: 7.92rem;
  margin-top: 1.573333rem;
  margin-bottom: 1.013333rem;
}
.incorrect .in_img .all_right {
  width: 7.92rem;
  margin-top: 1.146667rem;
  margin-bottom: 1.066667rem;
}
/*输入手机号*/
.phone_num {
  width: 100%;
  height: 100%;
  text-align: center;
}
.phone_num .ph_friend {
  width: 6.733333rem;
  margin-top: 1.4rem;
  margin-bottom: 0.266667rem;
}
.phone_num .arrow_two {
  width: 0.826667rem;
  margin-bottom: 0.8rem;
}
.phone_num .ph_num {
  text-align: center;
  font-size: 0.56rem;
  line-height: 1;
  height: 0.96rem;
}
.phone_num .ph_number {
  width: 5.946667rem;
  height: 1.426667rem;
  margin: 0 auto;
  background: url("../images/tel_phone.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 1rem;
}
.phone_num .ph_number input {
  background-color: transparent;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
/*获得20元红包*/
.get_red {
  text-align: center;
}
.get_red .big_bag {
  width: 7.72rem;
  margin-top: 2.56rem;
  margin-bottom: 0.4rem;
}
.get_red .h_describe {
  text-align: center;
  position: relative;
  padding-top: 0;
  margin-bottom: 1.626667rem;
}
.get_red .h_describe img {
  width: 7.066667rem;
}
.get_red .h_describe p {
  font-size: 0.4rem;
  line-height: 0.48rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0.586667rem;
  left: 0;
}
/*拆红包*/
.red_bag {
  text-align: center;
  padding-top: 2.133333rem;
}
.red_bag .red {
  margin-bottom: 0.586667rem;
  position: relative;
}
.red_bag .red img {
  width: 8.653333rem;
}
.red_bag .red .red_text {
  font-size: 0.533333rem;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 2.026667rem;
}
.red_bag .arrow2 {
  width: 0.826667rem;
  transform: rotate(180deg);
}
.red_bag p {
  font-size: 0.72rem;
  line-height: 1;
  margin-top: 0.533333rem;
}
/*共用按钮*/
.btn {
  text-align: center;
}
.btn a {
  display: inline-block;
  width: 3.666667rem;
  height: 1.426667rem;
  background: url("../images/btn_bg.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 1.146667rem;
  font-size: 0.64rem;
  color: #000;
}
/*分享*/
.share {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.share img {
  width: 8.8rem;
  margin-left: 0.706667rem;
  margin-top: 0.333333rem;
}
.share p {
  position: absolute;
  left: 1.493333rem;
  top: 1.586667rem;
  font-size: 0.426667rem;
  line-height: 0.586667rem;
}
/*公共logo*/
.h_tit {
  text-align: center;
  padding-top: 0.266667rem;
  margin-bottom: 0.106667rem;
}
.h_tit img {
  width: 4.32rem;
}
/*公共背景图*/
.bg_img {
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.hide {
  display: none;
}
/*声明 WebFont*/
@font-face {
  font-family: 'zhanghaishan';
  src: url('../fonts/zhanghaishan.eot');
  src: url('../fonts/zhanghaishan.eot?#font-spider') format('embedded-opentype'), url('../fonts/zhanghaishan.woff') format('woff'), url('../fonts/zhanghaishan.ttf') format('truetype'), url('../fonts/zhanghaishan.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*使用选择器指定字体*/
body {
  font-family: 'zhanghaishan';
}
