@charset "utf-8";
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.lt {
  float: left;
}
/*主页面*/
body {
  width: 100%;
  height: 100%;
  position: relative;
}
.home_page {
  width: 100%;
  height: 100%;
  position: relative;
}
.home_page .h_describe {
  padding-top: 0.586667rem;
  text-align: center;
  position: relative;
  margin-bottom: 0.213333rem;
}
.home_page .h_describe img {
  width: 7.333333rem;
}
.home_page .h_describe span {
  position: absolute;
  width: 1.493333rem;
  height: 0.853333rem;
  left: 1.76rem;
  top: 0;
  background: url("../images/preface.png") 0 0 no-repeat;
}
.home_page .h_describe p {
  position: absolute;
  line-height: 0.48rem;
  font-size: 0.4rem;
  left: 2.933333rem;
  top: 1.133333rem;
  text-align: left;
}
.home_page .h_friend {
  text-align: center;
  position: relative;
  padding-bottom: 0.093333rem;
  margin-bottom: 0.186667rem;
}
.home_page .h_friend img {
  width: 6.733333rem;
}
.home_page .h_friend span {
  position: absolute;
  width: 0.826667rem;
  height: 0.493333rem;
  left: 50%;
  bottom: 0;
  margin-left: -0.413333rem;
  background: url("../images/arrow_one.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.home_page .h_text {
  line-height: 0.453333rem;
  font-size: 0.373333rem;
  text-align: center;
  margin-bottom: 0.253333rem;
}
.home_page .h_text span {
  color: #ffcc02;
  font-size: 0.533333rem;
}
.home_page .h_people {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
/*答题页*/
.answer {
  width: 100%;
  height: 100%;
}
.answer .top {
  text-align: center;
  padding-top: 0.693333rem;
  margin-bottom: 0.48rem;
  position: relative;
}
.answer .top p {
  line-height: 0.56rem;
  font-size: 0.48rem;
  position: absolute;
  width: 100%;
  bottom: 0.266667rem;
  left: 0;
  text-align: center;
}
.answer ul {
  margin-left: 1.44rem;
}
.answer ul li {
  height: 1.466667rem;
  margin-bottom: 0.76rem;
}
.answer ul li img {
  float: left;
  width: 1.44rem;
  height: 1.44rem;
  border: 0.133333rem solid #231815;
  border-radius: 50%;
}
.answer ul li img.answer_top {
  width: 8.16rem;
}
.answer ul li h3 {
  margin-left: 1.92rem;
  padding-top: 0.106667rem;
  line-height: 0.626667rem;
  font-size: 0.533333rem;
}
.answer ul li h3.none_f {
  /* 没人答题时添加 */
  line-height: 1.266667rem;
}
/*共用按钮*/
.btn {
  text-align: center;
}
.btn a {
  display: inline-block;
  width: 3.666667rem;
  height: 1.426667rem;
  background: url("../images/btn_bg.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  line-height: 1.146667rem;
  font-size: 0.64rem;
}
/*分享*/
.share {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.share img {
  width: 8.8rem;
  margin-left: 0.706667rem;
  margin-top: 0.333333rem;
}
/*公共logo*/
.h_tit {
  text-align: center;
  padding-top: 0.266667rem;
  margin-bottom: 0.106667rem;
}
.h_tit img {
  width: 4.32rem;
}
/*公共背景图*/
.bg_img {
  background: url("../images/bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.hide {
  display: none;
}
/*声明 WebFont*/
@font-face {
  font-family: 'zhanghaishan';
  src: url('../../dist/fonts/zhanghaishan.eot');
  src: url('../../dist/fonts/zhanghaishan.eot?#font-spider') format('embedded-opentype'), url('../../dist/fonts/zhanghaishan.woff') format('woff'), url('../../dist/fonts/zhanghaishan.ttf') format('truetype'), url('../../dist/fonts/zhanghaishan.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*使用选择器指定字体*/
body {
  font-family: 'zhanghaishan';
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1;
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "PingFang SC";
}
a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
